.title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: white;
        text-align: left;
        line-height: 40px;
    }
}